
extend layout.jade

block content
  .row
    .col-md-12
      .timeline
        dl
          dt Apr 2014
          dd.pos-right.clearfix
            .circ
            .time Aug 26
            .events
              .events-body
                h4.events-heading 大一实训
                p
                  | 支持400人进行实训，优秀的反抄袭算法揪出不少抄别人代码的同学
          dd.pos-left.clearfix
            .circ
            .time June 24
            .events
              .events-body
                h4.events-heading 大一C++期末考试
                p
                  | 通宵导入数据，传柳的通宵分布式评测，俊杰单点登陆，家荣的轮询数据库，前端神一般的重构速度
          dd.pos-right.clearfix
            .circ
            .time May 13
            .events
              .events-body
                h4.events-heading 支持大四C++补考
                p
                  | 万老师第一次请吃麦当劳， 家荣的mac做了Web服务器，系统崩了2个小时， 家荣、宇翔、嘉祺、万老师一直坚守到11点
          dd.pos-left.clearfix
            .circ
            .time April 1
            .events
              .events-body
                h4.events-heading Matrix 创立
                p
                  | Matrix，是集在线评测、抄袭检查等功能于一身的课程管理系统，支持编程题和简答题的智能评测以及文件的上传和下载。此外，Matrix还提供简答题等题型，满足课程作业及考试多方位的需求。我们致力于打造中山大学最好的课程管理系统，We are Matrixers！
